*.txt
*.csv
./Dispersion/Optimizations/ICs/New folder/LOGS_Generating_IC_NormallizedIV_Filled.txt
./Dispersion/Optimizations/ICs/New folder/LOGS_Generating_IC_NormallizedIV_UnFilled.txt
./Dispersion/Optimizations/ICs/New folder/LOGS_Generating_IVWeighted_NearIV.txt
./Dispersion/Optimizations/ICs/New folder/LOGS_Generating_IVWeighted_NormallizedIV_Filled.txt
./Dispersion/Optimizations/Old Logs/LOGS_Trading_Logic_for_Dispersion_AllComponents_IV_Normalization_BANKNIFTY.txt
*.db
./Dispersion/Optimizations/ICs/New folder/LOGS_Generating_IC_NormallizedIV_Filled.txt
./Dispersion/Optimizations/ICs/New folder/LOGS_Generating_IC_NormallizedIV_UnFilled.txt
./Dispersion/Optimizations/ICs/New folder/LOGS_Generating_IVWeighted_NearIV.txt
./Dispersion/Optimizations/ICs/New folder/LOGS_Generating_IVWeighted_NormallizedIV_Filled.txt
./Dispersion/Optimizations/Old Logs/LOGS_Trading_Logic_for_Dispersion_AllComponents_IV_Normalization_BANKNIFTY.txt
